<div class="container">
  <div class="prefix">
    <label>Prefix (judet):</label>
    <input type="text" [(ngModel)]="prefix">
  </div>
  <div class="prefix">
    <label>Letters (separated by comma):</label>
    <input type="text" [(ngModel)]="postfix" (keydown.enter)="getPlates()">
  </div>
  <div class="prefix">
    <label>Preferred numbers (separated by comma):</label>
    <input type="text" [(ngModel)]="numbers" (keydown.enter)="getPlates()">
  </div>
</div>
<button (click)="getPlates()">Check plates</button>
<div class="content">
  <div class="col">
    <label>Available:</label>
    <div class="good" *ngFor="let nr of plateNumbers">{{nr}}</div>
  </div>
  <div class="col">
    <label>Available with preferred numbers:</label>
    <div class="better" *ngFor="let nr of highlightedPlateNumbers">{{nr}}</div>
  </div>
</div>
